@media screen and (max-width: 375px) {
	
	.card,.add{


		content:"";
		clear:both;
		display:table;
		width:94vw;
	}

	




	}

	@media screen and (max-width: 1024px) {


		select{

			width:20vw;
		}

		.card .msg {

		left:17%;


		}

		.menu-item{
			font-size:30px;
		}


	}